/* alert.component.css */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.netflix-style {
  background-color: #000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  max-width: 800px; /* Adjust the maximum width as needed */
  width: 80%;
}

.netflix-style p {
  font-size: 18px;
  line-height: 1.5;
}

.alert-box-actions {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e50914;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #b2070d;
}
